.top-bar{
  margin-bottom: 20px;
}
.carousel{
  display:flex;
  flex-direction: row;
  padding: 10px;
}
.book{
  text-align: center;
  padding: 10px;
}
.bookListing{
  max-width: 540px;
}
.book h4{
  margin-top: 15px;
}
.price{
  margin: 5px;
  font-size: 18px;
}
.price span{
  color: green;
  background: #f4f4f4;
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 50%;
}
footer{
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}

.bookInfo li{
  list-style: none;
}
.detailsCarousel{
  display:flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}

h2 span{
  font-size: 18px;
}
